@charset "UTF8";

@font-face {
  font-family: "tt";
  src: url(../fontes/Billie\ Eilish.otf) format(opetype);
  src: url(../fontes/billie\ eilish.ttf) format(truetype);
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "Times New Roman", Times, serif;

  /*outline: 1px solid yellow;*/
  box-sizing: border-box;
}

:root {
  --titulos: "tt";
  --paragrafos: Arial, Verdana, sans-serif;
}

html,
body {
  scroll-behavior: smooth; /*rolagem suave*/
  overflow-x: hidden; /*tirar a rolagem horizontal*/
}
:target {
  scroll-margin-top: 9em;
}
main #responsivo:target {
  /*sobre*/
  scroll-margin-top: 11em;
}

body {
  background-color: #0c243b;
  color: aliceblue;

  box-sizing: content-box;
}

header {
  background-color: #1a3046;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  box-sizing: border-box;

  position: sticky;
  top: -1px;
  z-index: 1; /*Assim, ele ficará na frente de tds*/
  overflow-x: hidden; /*tirar a rolagem horizontal*/
}
header img {
  text-align: center;
  width: 150px;
  border-radius: 15px;
}
header h1 {
  text-align: center;
  font: 2em var(--titulos);
}

.sociais img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.menu {
  background-color: #0a1c2c;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}
.menu a {
  text-decoration: none;
  font-family: var(--paragrafos);
  color: #f0f8ffe0;

  padding: 5px 10px;
}
.menu a:hover {
  border-radius: 30%;
  background-color: #0c243b;
  padding: 10px;
  align-items: center;
}

#menuOculta {
  display: none;
}

main {
  padding: 20px 10px;
  background-color: #1e4364;

  min-width: 300px;
  max-width: 1150px;
  margin: auto;

  box-sizing: content-box;
  width: 100%; /*alinhar a borda de fora*/
}
main div {
  /* Todos os div */
  padding: 10px 20px;

  box-sizing: border-box;
}
main section h1 {
  /* Todos os h1 */
  padding: 5px;
  font: 800 1.5em var(--titulos);
  letter-spacing: 0.1rem; /*espaçamento entre letras*/
  text-transform: uppercase; /*vai deixar td em letra maiúscula grande*/
}
main section h2 {
  /* Todos os h2 */
  padding: 5px;
  font-size: 1.4em;
}
main section h3 {
  /* Todos os h3 */
  color: #7ec1fc;
  padding: 5px 10px;
  font: 1.5em var(--titulos);
  letter-spacing: 0.1rem; /*espaçamento entre letras*/
}
main section p {
  /* Todos os p */
  padding: 5px 10px;
  font: 1.2em var(--paragrafos);
}
main section ul {
  /* Todos as listas */
  font: 1.1em var(--paragrafos);

  list-style-position: inside; /*deixar a lista organizada*/
  margin-top: 10px;
  background-color: #4ad295;
  color: #0c243b;
  border-radius: 10px;
  padding: 10px;
}
main section img {
  /* Todos as imagens */
  min-width: 200px;
  max-width: 500px;
  margin: 5px;
  border: 3px solid #4ad295;
  border-radius: 5px 55px;

  animation: tremer 4s;
  animation-iteration-count: infinite;
}
@keyframes tremer {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(1px, 0px) rotate(0deg);
  }
  30% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  40% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  60% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  70% {
    transform: translate(0px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  90% {
    transform: translate(1px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 0px) rotate(0deg);
  }
}
main .int_hidden {
  opacity: 1;
  transition: all 1s linear;
}
.int_hidden-off {
  opacity: 1;
}

main #sobre {
  padding: 10px 5px 30px 10px;
  text-align: center;

  box-sizing: border-box;
}
main #sobre h1 {
  text-transform: capitalize; /*tds as primeiras letras, de cada palavra, estão em maiúsculo e o restante minúsculo*/
}
main button {
  background-color: #4ad295;
  padding: 10px;
  border-radius: 20px;
}
main button:hover {
  box-shadow: 2px 2px 1px 1px #0a1c2c;
  animation: tremer 0.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
@keyframes tremer {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(0deg);
  }
  30% {
    transform: translate(0px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(0px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(0deg);
  }
  90% {
    transform: translate(1px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 0px) rotate(0deg);
  }
}
main a {
  text-decoration: none;
  color: #0a1c2c;
  font: 800 1.3em var(--titulos);
  letter-spacing: 0.1rem; /*espaçamento entre letras*/
}

main #responsivo {
  padding: 10px 5px 30px 10px;
  background-color: #0c243b;
  border-radius: 5px 55px;

  display: flex;
  align-items: center;

  box-sizing: border-box;
}

main #site {
  padding: 20px 5px 30px 10px;

  display: flex;
  align-items: center;

  box-sizing: border-box;
}
main #site #imgSite {
  display: none;
}

main #siteEstatico {
  padding: 10px 5px 20px 10px;
  background-color: #0c243b;
  border-radius: 5px 55px;
  box-sizing: border-box;
}
main #siteEstat {
  display: inline-flex;
}
main #siteEstat div {
  margin: 0%;
  padding: 0%;
  align-items: center;
}
main #siteEstat div img {
  width: 350px;
  animation: none;
}
main #siteEstat div li {
  color: black;
  list-style-type: none;
}

main #imgLink {
  text-align: center;
  padding: 0%;
}
main #imgLink a {
  text-decoration: underline;
}
main #linkOculto {
  display: none;
}
/*main #tipoSite div div{
    display: inline-flex;
}
main #tipoSite img{
    border-radius: 20px;
    width: 700px;
}*/

main #manutenção {
  padding: 10px 5px 30px 10px;

  display: flex;
  align-items: center;

  box-sizing: border-box;
}
main #manutençãi #divVal {
  display: flex;
}
main #manutenção h5 {
  /*R$ 50,00 - Mensal*/
  background-color: #4ad295;
  color: #0c243b;
  font: 800 1.5em var(--titulos);
  text-align: center;
  margin: 10px 30px;
  padding: 5px;
  border-radius: 20px;
  max-width: 400px;

  box-shadow: 1px 3px 2px 2px rgba(0, 0, 0, 0.479);
}
main #manutenção #ulOculta {
  display: none;
}
main #manutenção #ulimg {
  display: flex;
  align-items: center;
  padding: 0%;
}
main #manutenção #ulimg img {
  min-width: 200px;
  max-width: 350px;
  margin-left: 50px;
  border: none;
  animation: none;
}

/*Pagina Valores*/
main #site2 {
  padding: 20px 5px 30px 10px;
  background-color: #0c243b;
  border-radius: 5px 55px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  box-sizing: border-box;
}
main #site2 ul {
  list-style-type: none;
  line-height: 1.6em;
}
/* main #site2 img {
  min-width: 200px;
  max-width: 350px;
} */

main #manutenção2 {
  padding: 10px 5px 30px 10px;
  background-color: #0c243b;
  border-radius: 5px 55px;

  display: flex;
  align-items: center;

  box-sizing: border-box;
}
main #manutenção2 h2 {
  text-align: center;
}
main #manutenção2 h5 {
  /*R$ 50,00 - Mensal*/
  background-color: #4ad295;
  color: #0c243b;
  font: 800 1.5em var(--titulos);
  text-align: center;
  margin: 10px 30px;
  padding: 5px;
  border-radius: 20px;
  max-width: 400px;

  box-shadow: 1px 3px 2px 2px rgba(0, 0, 0, 0.479);
}
main #manutenção2 ol {
  list-style-type: none;
  margin-top: 20px;
}
main #manutenção2 ul {
  font-size: 1.2em;
}

/* main #manutenção2 #ulimg {
  display: flex;
  align-items: center;
  padding: 0%;
}
main #manutenção2 #ulimg img {
  min-width: 200px;
  max-width: 350px;
  margin-left: 50px;
  border: none;
  animation: none;
} */

/*Conteúdos relevantes*/
main #contRev {
  padding: 10px 5px 30px 10px;
  background-color: #0c243b;
  border-radius: 5px 55px;

  display: flex;
  align-items: center;

  box-sizing: border-box;
}
main #contRev #imgcontRev {
  display: none;
}

main #botao {
  text-align: center;
  margin: 20px;
}

aside .scroll-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
}
#botao-top img {
  cursor: pointer;
  width: 30px;
}

footer {
  background-color: #1a3046;
  color: white;
  padding: 5% 0%;

  box-sizing: content-box;
  overflow-x: hidden; /*tirar a rolagem horizontal*/
}
footer #contatos {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;

  box-sizing: border-box;
}
footer h1 {
  padding: 10px;
  text-align: center;
  font: 1.8em var(--titulos);
  text-decoration: underline;
}

footer .local {
  margin: 10px;
}
footer .local h2 {
  padding: 10px;
  font: 1.3em var(--titulos);
  text-align: center;
}
footer .local div img {
  width: 30px;
  height: 30px;
  padding: 5px;
}
footer .local div a {
  display: flex;
  align-items: center;
  font: 1.2em var(--paragrafos);

  color: white;
  text-decoration: none;
}
footer .local div a:hover {
  text-decoration: underline;
}

footer .fazemos {
  margin: 10px;
}
footer .fazemos h2 {
  padding: 10px;
  font: 1.3em var(--titulos);
  text-align: center;
}
footer .fazemos ul {
  list-style-position: inside; /*deixar a lista organizada*/
  margin: 5px;
  font: 1.2em var(--paragrafos);
}

footer .sociais {
  margin: 10px;
}
footer .sociais h2 {
  padding: 10px;
  font: 1.3em var(--titulos);
  text-align: center;
}
footer .sociais img {
  width: 50px;
  height: 50px;
  padding: 2px;
}
