@charset "UTF8";


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #0C243B;
    color: aliceblue;
}

header{
    background-color: #1A3046;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: -1px;
}
header img{
    text-align: center;
    width: 150px;
    border-radius: 10px;
    position: sticky;
}
header h1{
    text-align: center;
}
header .sociais img{
    width: 50px; height: 50px;
    padding: 10px;
}

nav{
    background-color: black;
    padding: 10px;
    position: sticky;
    top: 55px;
}
nav a{
    text-decoration: none;
    color: #f0f8ffe0;
    
    padding: 5px 10px;
}
nav a:hover{
    border-radius: 30%;
    background-color: #0C243B;
    padding: 10px;
    align-items: center;
}


main{
    padding: 10px;
    background-color: #1e4364;

    min-width: 300px;
    max-width: 1150px;
    margin: auto;
}
main div{
    padding: 10px;
}
main section h1{
    padding: 5px;
    font-size: 1.4em;
}
main section h2{
    padding: 5px;
    font-size: 1.4em;
}
main section p{
    padding: 5px 10px;
    font-size: 1.1em;
}
main section img{
    width: 500px;
    margin: 5px;
    border: 3px solid #4AD295;
    border-radius: 5px 55px;
}

main #sobre{
    padding: 10px 5px 30px 10px;
    text-align: center;
    text-decoration: underline;
}

main #responsivo{
    padding: 10px 5px 30px 10px;
    background-color: #0C243B;
    border-radius: 5px 55px;

    display: flex;
    align-items: center;
}
main #responsivo h3{
    color: #98cfff;
    padding: 5px 10px;
    font-size: 1.2em;
}

main #site{
    padding: 10px 5px 30px 10px;

    display: flex;
    align-items: center;
}

main #manutenção{
    padding: 10px 5px 30px 10px;
    background-color: #0C243B;
    border-radius: 5px 55px;

    display: flex;
    align-items: center;
}
main #manutenção h3{
    color: #98cfff;
    padding: 5px 10px;
    font-size: 1.2em;
}
main #manutenção h5{
    background-color: #4AD295;
    color: #0C243B;
    font-size: 2em;
    width: 265px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
    margin-left: 30px;
}
main #manutenção #ulimg{
    display: flex;
    align-items: center;
}
main #manutenção ul{
    list-style-position: inside; /*deixar a lista organizada*/
    margin-top: 10px;
    background-color: #4ad295;
    color: #0C243B;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px;
}
main #manutenção #ulimg img{
    width: 100px; 
    margin-left: 50px;
    border: none;
}


footer{
    background-color: #1A3046;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer h1{
    padding: 10px;
}
footer .local{
    padding: 10px;
}
footer .local h2{
    padding: 10px;
}
footer .local div img{
    width: 30px; height: 30px;
    padding: 5px;
}
footer .local div a{
    display: flex;
    align-items: center;

    color: white;
    text-decoration: none;
    padding: 5px;
}
footer .local div a:hover{
    text-decoration: underline;
}

footer .sociais h2{
    padding: 10px;
}
footer .sociais img{
    width: 50px; height: 50px;
    padding: 5px;
}