@charset "UTF8";

@media all and (min-width: 900px) and (max-width: 1115px) { /*para telas grandes*/

    main{
        box-sizing: content-box;
        width: 97.6%;    /*alinhar a borda de fora*/
    }

    footer{
        width: 99.8%;    /*alinhar a borda de fora*/
    }
    footer .sociais img{
        width: 45px; height: 45px;
        padding: 5px;
    }
}

@media all and (min-width: 769px) and (max-width: 899px) { /*para notebooks*/


    body{
        box-sizing: content-box;
        width: 99.5%;    /*alinhar a borda de fora*/
    }
    main{
        box-sizing: content-box;
        width: 97%;    /*alinhar a borda de fora*/
    }
    main section h1{
        text-transform: capitalize; /*tds as primeiras letras, de cada palavra, estão em maiúsculo e o restante minúsculo*/
    }

    main #siteEstat div img{
        display: none;
    }

    main #manutenção h5{ /*R$ 50,00 - Mensal*/
        font-size: 1.4em;
    }
    main #manutenção #ulimg img{
        display: none;
    }

    footer .local div img{
        width: 25px; height: 25px;
        padding: 5px;
    }
    footer .sociais img{
        width: 40px; height: 40px;
        padding: 5px;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) { /*para tablets*/

    header{
        position: relative;
    }
    header h1{
        font-size: 1.5em;
    }
    nav{
        display: none;
    }
    #navOculta{
        display: block;
        position: sticky;
        top: -1px;
        text-align: center;
    }

    main{
        box-sizing: content-box;
        width: 95.6%;    /*alinhar a borda de fora*/
    }
    main section h1{
        text-transform: capitalize; /*tds as primeiras letras, de cada palavra, estão em maiúsculo e o restante minúsculo*/
    }
    main section p{
        padding: 5px 10px;
        font: 1em var(--paragrafos);
    }
    main section img{
        margin: 0%; /*arrumar nessa parte*/
    }

    main #responsivo{
        display: inline-block;
        text-align: center;
    }

    main #site{
        display: inline-block;
        text-align: center;
    }
    main #site img{
        display: none;
    }
    main #site #imgSite{
        display: inline-block;
        text-align: center;
    }
    main #siteEstat div img{
        display: none;
    }

    main #manutenção{
        display: inline-block;
        text-align: center;
    }
    main #manutenção h5{
        font-size: 1.2em;
    }
    main #manutenção #ulimg{
        display: inline-block;
        text-align: center;   
    }
    main #manutenção #ulimg img{
        display: none;
    }

    main #nsei{
        display: inline-block;
        text-align: center;
    }
    main #nsei img{
        display: none;
    }
    main #nsei #imgNsei{
        display: inline-block;
        text-align: center;
    }


    footer h1{
        font-size: 1.5em;
    }
    footer .sociais h2{
        display: none;
    }
    footer .sociais img{
        width: 40px; height: 40px;
        padding: 5px;
    }
}

@media all and (min-width: 320px ) and (max-width: 480px) { /*para celulares*/

    body{
        box-sizing: content-box;
        width: 98%;    /*alinhar a borda de fora*/
    }

    header{
        position: relative;
    }
    header img{
        width: 100px;
    }
    header h1{
        display: none;
    }
    header .sociais img{
        width: 40px; height: 40px;
    }
    nav{
        display: none;
    }
    #navOculta{
        display: block;
        position: sticky;
        top: 0px;
        text-align: center;
        font-family: var(--paragrafos);
    }

    main{
        box-sizing: content-box;
        width: 95%;    /*alinhar a borda de fora*/
    }
    main section h1{
        padding: 5px;
        font-size: 1.3em;
        text-transform: capitalize; /*tds as primeiras letras, de cada palavra, estão em maiúsculo e o restante minúsculo*/
        text-align: center;
    }
    main section h2{
        padding: 5px;
        font-size: 1.2em;
    }
    main section h3{
        padding: 5px;
        font-size: 1.2em;
    }
    main section p{
        padding: 5px 10px;
        font: 1em var(--paragrafos);
    }
    main section ul{
        font: 1em var(--paragrafos);
    }
    main img{
        display: none;
    }

    main #siteEstat div img{
        display: none;
    }

    main #manutenção h5{
        font-size: 1.1em;
    }
    main #manutenção #ulimg img{
        display: none;
    }

    footer h1{
        display: none;
    }
    footer .contatos, .fazemos h2{
        font-size: 0.9em;
    }
    footer .local div a{
        font-size: 0.8em;
    }
    footer .sociais h2{
        display: none;
    }
    footer .sociais img{
        width: 30px; height: 30px;
        padding: 5px;
        display: flex;
    }

}

@media all and (min-width: 200px ) and (max-width: 319px) { /*para celulares menores*/
    
    body{
        box-sizing: content-box;
        width: 98%;    /*alinhar a borda de fora*/
    }

    header{
        position: relative;
    }
    header img{
        width: 100px;
    }
    header h1{
        display: none;
    }
    header .sociais img{
        width: 30px; height: 30px;
    }
    nav{
        display: none;
    }

    #navOculta{
        display: block;
        position: sticky;
        top: -1px;
        text-align: center;
        pad: 0%;
        font-family: var(--paragrafos);
    }

    main{
        box-sizing: content-box;
        padding: 0%;
        width: 0%;
    }
    main div{
        margin: 0%;
        padding: 0%;
    }
    main section h1{
        padding: 0px;
        font-size: 1.1em;
        text-align: center;
        text-transform: capitalize; /*tds as primeiras letras, de cada palavra, estão em maiúsculo e o restante minúsculo*/
    }
    main section h2{
        padding: 0px;
        font-size: 1em;
    }
    main section h3{
        padding: 0px;
        font-size: 1em;
    }
    main section p{
        padding: 5px 10px;
        font: 0.9em var(--paragrafos);
    
        border: 2px solid ;
    }
    main section ul{
        font: 0.9em var(--paragrafos);
    }
    main img{
        display: none;
    }

    main #sobre{
        padding: 0%;
    }
    main #responsivo{
        padding: 0%;
    }
    main #site{
        padding: 0%;
    }
    main #manutenção{
        padding: 0%;
    }

    main #manutenção h5{
        font-size: 1em;
    }
    main #manutenção #ulimg img{
        display: none;
    }
    main button{
        background-color: #4AD295;
        padding: 5px;
        border-radius: 20px;
        font-size: 0.9em;
    }

    footer h1{
        display: none;
    }
    footer .fazemos{
        display: none;
    }
    footer .sociais h2{
        display: none;
    }
    footer .sociais img{
        width: 30px; height: 30px;
        padding: 5px;
    }
}